{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'vi' }}">

    {% include "partials/head.html" %}
    {% block style %}{% endblock %}
<body>
    {% include 'partials/navbar.html' %}
    {% block content %}
    {% endblock %}
    {% include 'partials/footer.html' %}
    {% include "partials/scripts.html" %}
    {% include "partials/realtime_notifications.html" %}
    {% block scripts %}
    {% endblock %}
    {% include "partials/chatbot.html" %}
</body>

</html>    
