{% load static %}
<aside class="main-sidebar sidebar-dark-primary bg-gray-dark elevation-4" >
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link" style="text-align: center;">
      <i class="fa fa-university" aria-hidden="true"></i>
      <span class="brand-text font-weight-light">Home</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ user_image }}" class="img-circle elevation-2" alt="User Image" style="width: 50px; height: 50px;">
        </div>
        {% if request.user.is_authenticated and request.user.role == 'doctor' %}
        <div class="info">
          <a href="#" class="d-block">Xin chào {{ request.user.last_name }} </a>
        </div>
        {% endif %} 
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <li class="nav-header" id="currentDate"> </li>
        </div>
          
          <li class="nav-item">
            <a href="{% url 'doctor-profile' %}" class="nav-link">
              <i class="fas fa-user"></i>
              <p>Thông tin cá nhân</p>
              <!-- <a class="dropdown-item " href="{% url 'doctor-profile-update' %}"> EDIT PROFILE</a> -->
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'patient-list' %}" class="nav-link">
              <i class="fas fa-solid fa-calendar-minus"></i>  
              <p>Người bệnh</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'doctor-inbox' %}" class="nav-link">
              <i class="fas fa-regular fa-comments"></i>
              <p>Tin nhắn</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
            <i class="fas fa-solid fa-users"></i>
              <p>Sinh viên</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
            <i class="fas fa-regular fa-calendar"></i>
              <p>Thống kê</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

<script>
const currentDateSpan = document.getElementById('currentDate');
        const daysOfWeek = ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'];

        const currentDate = new Date();
        const dayOfWeek = currentDate.getDay();
        const day = currentDate.getDate();
        const month = currentDate.getMonth() + 1;
        const year = currentDate.getFullYear();

        const formattedDate = `${daysOfWeek[dayOfWeek]} (${day}/${month}/${year})`;
        currentDateSpan.textContent = formattedDate;
</script>
