{% extends "admin/base.html" %}

{# Keep actionable admin feedback while removing noisy save-success banners. #}
{% block messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fa fa-ban"></i>{{ message|capfirst }}
            </div>
        {% elif message.tags == 'warning' %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fa fa-exclamation-triangle"></i>{{ message|capfirst }}
            </div>
        {% elif message.tags == 'info' %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fa fa-info"></i>{{ message|capfirst }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock messages %}
