<head>
	{% load static %}
	<title>Health Care {% block title %}{% endblock %}</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Medic, dat lich kham, benh an dien tu, sang loc AI, phong kham" />
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="{% static '' %}css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static '' %}css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="{% static '' %}css/fontawesome-all.css">
	<link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link rel="stylesheet" href="{% static 'css/modern.css' %}" type="text/css" media="all" />
	<!-- //Web-Fonts -->

</head>
